# WARNING: When you start the project in production, change these settings!!!

# Project settings
PROJECT_NAME=ready-to-use
COMPOSE_EXTRA=

# Nominatim settings
PBF_URL=
REPLICATION_URL=
NOMINATIM_PASSWORD=ready-to-use-secret

# Docker settings
IMAGE_VERSION=4.3

CPU_COUNT=2
CPU_SHARES=1024
CPU_PERIOD=100000
CPU_QUOTA=100000
CPUSET=0

CGROUP=host

DEPLOY_MODE=replicated
DEPLOY_REPLICAS=1
DEPLOY_ENDPOINT_MODE=vip
DEPLOY_RESTART_POLICY_CONDITION=on-failure
DEPLOY_RESTART_POLICY_DELAY=5s
DEPLOY_RESTART_POLICY_MAX_ATTEMPTS=3
DEPLOY_RESTART_POLICY_WINDOW=120s

DNS=1.1.1.1

